.devise.devise--registrations
  .devise__body
    %h2 ユーザー登録
    = form_for(resource, as: resource_name, class: "devise__form", url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field.devise__body__inputForm
        = f.label :nickname, "ニックネーム"
        %br/
        = f.text_field :nickname, autofocus: true, placeholder: "8 文字以内",  maxlength: "8", required: "on"
      .field.devise__body__inputForm
        = f.label :email, "メールアドレス"
        %br/
        = f.email_field :email, autocomplete: "email", required: "on", placeholder: "@を含む必要があります"
      .field.devise__body__inputForm
        = f.label :password, "パスワード"
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder: "#{@minimum_password_length} 文字以上",  minlength: "#{@minimum_password_length}", required: "on"
      .field.devise__body__inputForm
        = f.label :password_confirmation, "パスワード確認"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", required: "on", placeholder: "パスワードをもう一度入力"
      .field.devise__body__recaptcha
        = recaptcha_tags callback: 'recaptchaCallbackFunction'
      .actions.devise__body__button
        = f.submit "登録する" ,id: "deviseSubmit", disabled: "on"
    = render "devise/shared/links"
