.wordbook
  .wordbook__title
    = link_to "#{wordbook.title}", wordbook_path(wordbook.id)
  .wordbook__viewed
    = "閲覧数: #{wordbook.viewed}"
  .wordbook__user
    = "作者: #{wordbook.user.nickname}"
  .wordbook__created-at
    = l(wordbook.created_at, format: :long)
  .wordbook__tags
    - wordbook.tags.each do |tag|
      = "##{tag.name}"