- id = @wordbook.id
- if @wordbook.words.first
  .main.main--showWordBook{"data-id": id}
    = button_tag class:"button__arrow button__arrow--left" do
      = icon('fas fa-5x', 'chevron-left')
    .wordcards
      .wordcard.wordcard--front
        .wordcard__word
          = @wordbook.words.first.front
    = button_tag class:"button__arrow button__arrow--right" do
      = icon("fas fa-5x","chevron-right")