.main.main--showUser
  .showUser
    .showUser__bar
      .showUser__bar__title
        - if current_user&.id == @user.id
          = icon('fas fa', 'user')
          自分の単語帳
        - else
          = icon('fas fa', 'user-friends')
          = "#{@user.nickname}さんの単語帳"
    .wordbooks
      - @user.wordbooks.each do |wordbook|
        - unless wordbook.share && wordbook.user.id != current_user&.id
          - if fav = wordbook.favorites.find_by(user_id: current_user&.id)
            = render partial: "wordbooks/wordbook",locals: { wordbook: wordbook, fav: fav, favorite_count: wordbook.favorites.length }
          - else
            = render partial: "wordbooks/wordbook",locals: { wordbook: wordbook, favorite_count: wordbook.favorites.length}
.sideBar.sideBar--showUser
  .showUser.showUser--scroll
    .showUser__bar
      .showUser__bar__title
        = icon("fas fa", "bookmark")
        = current_user&.id == params[:id].to_i ? "あなたのお気に入り" : "#{@user.nickname}のお気に入り"
    .wordbooks
      - @favorites&.each do |faved|
        - if fav = faved.wordbook.favorites.find_by(user_id: current_user&.id)
          = render partial: "wordbooks/wordbook",locals: { wordbook: faved.wordbook, fav: fav, favorite_count: faved.wordbook.favorites.length }
        - else
          = render partial: "wordbooks/wordbook",locals: { wordbook: faved.wordbook, favorite_count: faved.wordbook.favorites.length}