.main.main--indexWord
  = render partial: "wordTop", locals: {wordbook: @wordbook}
  .wordcards.wordcards--index
    = render partial: "wordcard",collection: @wordbook.words, as: :word

.sideBar.sideBar--indexWord
  .flexbox
    - if @wordbook.test && user_signed_in?
      .sideBar--indexWord__link
        = link_to wordbook_test_path(@wordbook.id, @wordbook.test.id) do
          = icon("fas fa-3x", "highlighter")
          %br
          %p テストを受験
      - if @wordbook.user.id == current_user&.id
        .sideBar--indexWord__link
          = link_to wordbook_test_path(@wordbook.id, @wordbook.test.id), method: :delete do
            = icon("fas fa-3x", "trash")
            %br
            %p テストを削除
    - unless @wordbook.test&.id
      .sideBar--indexWord__link
        = link_to new_wordbook_test_path(@wordbook.id) do
          = icon("fas fa-3x", "plus-circle")
          %br
          %p テストを作成