.main.main--newWord
  = form_for [@wordbook,@word], html:{class: "newWord"} do |f|
    .newWord__front
      = f.label :front, "表の言葉"
      = f.text_field :front
    .newWord__reverse
      = f.label :reverse, "裏の言葉"
      = f.text_field :reverse
    .newWord__submit
      = f.submit "restart", value: "restart"
      = f.submit "return", value: "return"
.sideBar
  サイドバーだよ