.main
  .testresult-detail
    .testresult-detail__score
      = "アナタの得点は#{@testresult.score}点です！！！！！"
    .testresult-detail__title
      = "単語帳 #{@testresult.test.wordbook.title}のテストを解いたよ！"
    .flexbox.flexbox--start
      .testresult-detail__words
        .testresult-detail__words__top
          あなたの解答一覧
        - @testresult.testwords.each.with_index do |testword, i|
          .testresult-detail__words__word
            = "#{i+1}問目 #{testword.word}"
      .testresult-detail__corrects
        .testresult-detail__corrects__top
          正答一覧
        - @testresult.test.questions.each.with_index do |question, i|
          .testresult-detail__corrects__correct
            = "#{i+1}問目 #{question.testwords.find_by(correct: 1).word}"
.sideBar
  = link_to "このテストをもう一度受験する", wordbook_test_path(@testresult.test.wordbook.id, @testresult.test.id) if @testresult.test.sideBar.sideBar--testresult-detail
  .sideBar--testresult-detail__top
    %p 過去のテスト結果
  .testresults
    - @testresults.each.with_index do |testresult,i|
      .testresult.testresult--detail
        .testresult__score
          = link_to "点数: #{testresult.score}", user_testresult_path(current_user.id,testresult.id)
        .testresult__time
          = l(testresult.created_at, format: :long)