.main.main--testresult-detail{"data-id": current_user.id, "data-test": @testresult.test.id}
  .testresult-detail
    .testresult-detail__top
      = "「#{@testresult.test.wordbook.title}」のテスト結果   #{@testresult.score}点"
    .flexbox.flexbox--start
      .testresult-detail__words
        .testresult-detail__words__top
          あなたの解答
        - @testresult.testwords.each.with_index do |testword, i|
          .testresult-detail__words__word
            = "[#{i+1}] #{testword.word}"
      .testresult-detail__words
        .testresult-detail__words__top
          正答
        - @testresult.test.questions.each.with_index do |question, i|
          .testresult-detail__words__word
            = "[#{i+1}] #{question.testwords.find_by(correct: 1).word}"
    .testresult-detail__link
      = link_to  wordbook_test_path(@testresult.test.wordbook.id, @testresult.test.id) do
        .testresult-detail__link__box
          = icon("far", "check-circle")
          もう一度受験する
  .charts
    .charts--empty
.sideBar.sideBar--testresult-detail
  .sideBar--testresult-detail__top
    %p 過去のテスト結果
  .testresults
    - @testresults.each.with_index do |testresult,i|
      .testresult.testresult--detail
        .testresult__score
          = link_to "点数: #{testresult.score}", user_testresult_path(current_user.id,testresult.id)
        .testresult__time
          = l(testresult.created_at, format: :long)