!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name: "viewport"}
    %title voCab
    %link{href: "https://fonts.googleapis.com/css?family=Carter+One&display=swap", rel: "stylesheet"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag('icon.png')
    = analytics_init if Rails.env.production?
  %body
    %header.header
      = link_to root_path, class: "header__title" do
        = image_tag "logo.png", class:"header__title__logo"
        %span voCab
      .header__icons
        - if user_signed_in?
          = link_to new_wordbook_path, class:"header__icons__icon" do
            = icon('fas fa-3x', 'edit')
            %p.header__icons__icon__explain 新規作成
          = link_to user_path(current_user.id), class: "header__icons__icon" do
            = icon('fas fa-3x', 'user')
            %p.header__icons__icon__explain マイページ
          = link_to user_testresults_path(current_user.id), class: "header__icons__icon" do
            = icon('fas fa-3x', 'chart-bar')
            %p.header__icons__icon__explain テスト結果
          = link_to destroy_user_session_path, method: :delete, class: "header__icons__icon header__icons__icon--logout" do
            = icon('fas fa-3x', 'sign-out-alt')
            %p.header__icons__icon__explain ログアウト
          - if current_user&.admin
            = link_to admins_path, class: "header__icons__icon" do
              = icon("fas fa-3x", "eye")
              %p.header__icons__icon__explain 管理者画面
        - else
          = link_to new_user_session_path, class: "header__icons__icon" do
            = icon('fas fa-3x', 'sign-in-alt')
            %p.header__icons__icon__explain ログイン

    = yield
